<div class="columns is-centered">
    <div class="column is-6 ">
        <div class="card has-shadow">
            <header class="card-header has-background-info">
                <p class="card-header-title has-text-white">Crear Rol</p>
            </header>
            <div class="card-content">
                <form class="content">
                    <div class="field-input" data-label="Nombre del rol" data-type="text"
                        data-placeholder="Escribe el nombre del rol"></div>

                    <!-- <div class="field">
                        <label class="label">Nombre del rol</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Tu nombre">
                        </div>
                    </div> -->
                    <div class="field">
                        <label class="label">Descripción de rol</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="Tu email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <a class="button is-link" id="loginButton">Enviar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>